# Binaries
bin/
out/
moolah
moolah-cli

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Dependencies
vendor/

# Testing / Coverage
*.out
*.test
coverage.txt

# Environment
.env
.env.local
